<%- include('../partials/header')%>
    <!-- banner start -->
    <main>
        <section class="banner-about position-relative d-flex align-items-end py-5">
            <div class="overlay-ab-pg-2 position-absolute top-0 start-0"></div>
             <div class="container">
                <div class="row">
                    <div class="col-12 d-flex justify-content-center">
                        <ul class="list-unstyled m-0 d-flex">
                            <li>
                                <a href="../index.ejs" class="text-decoration-none text-black fw-bold">HOME <i class="fa-solid fa-chevron-right me-1" style="color: #000000;"></i></a>
                            </li>
                            <li class="text-black fw-bold">About us <i class="fa-solid fa-chevron-right me-1" style="color: #000000;"></i></li>
                        </ul>
                    </div>
                    <div class="col-12 d-flex justify-content-center">
                        <h2 class="display-3 fw-bold" data-bs-toggle="modal" data-bs-target="#exampleModal">About us</h2>
                    </div>
                </div>
             </div>
        </section>
    <!-- banner end -->
    <!-- section-1 start -->
    <section class="ftco-section">
        <div class="container">
            <div class="row">
                <div class="col-12 d-flex">
                    <div class="col-6 d-none col-md-6 d-md-block">
                        <div class="img-sectione-3"></div>
                    </div>
                    <div class="col-6 img-2 p-5 d-flex col-12 col-md-6">
                        <div class="heading-section">
                            <p class="subheding fs-6 fw-semibold text-success letter-spacing">WELCOME TO COUNSELOR</p>
                            <h2 class="display-5 fw-semibold text-secondary">Best Counseling Funding Network Worldwide.</h2>
                            <p class="fs-5 text-secondary pt-4">A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
                            <p class="fs-5 text-secondary pt-3 pb-4">On her way she met a copy. The copy warned the Little Blind Text, that where it came from it would have been rewritten a thousand times and everything that was left from its origin would be the word "and" and the Little Blind Text should turn around and return to its own, safe country.</p>
                            <div class="d-flex col-8 kal col-12 col-md-12">
                                <button type="button" class="btn btn-outline-success bg-transparent">
                                    <i class="fa-solid fa-play fa-lg" style="color: #589167;"></i>
                                </button>
                                <a href="#" class="ps-3 d-flex align-items-center mb-0 text-decoration-none text-black fs-md-15">Watch Our Consultant Video</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- section-1 end -->
    <!-- section-2 start -->
    <section class="about-s2 d-flex align-items-center py-5">
        <div class="container">
            <div class="row flex-wrap">
                <div class="col-3 col-12 col-md-6 pt-md-5 col-lg-3">
                    <h2 class="text-color-s font-s-50 text-center">3,000</h2>
                    <p class="text-secondary fw-semibold text-center">Our Satisfied & Happy <br class="d-none"> Customers</p>
                </div>
                <div class="col-3 col-12 pt-5 col-md-6 pt-md-5 col-lg-3">
                    <h2 class="text-color-s font-s-50 text-center">30</h2>
                    <p class="text-secondary fw-semibold text-center">Years of Experience In <br class="d-none"> Business</p>
                </div>
                <div class="col-3 col-12 pt-5 col-md-6 pt-md-5 col-lg-3">
                    <h2 class="text-color-s font-s-50 text-center">200</h2>
                    <p class="text-secondary fw-semibold text-center">Our Qualified Counselor</p>
                </div>
                <div class="col-3 col-12 pt-5 col-md-6 pt-md-5 col-lg-3">
                    <h2 class="text-color-s font-s-50 text-center">40</h2>
                    <p class="text-secondary fw-semibold text-center">Services Points</p>
                </div>
            </div>
        </div>
    </section>        
    <!-- section-2 end -->
    <!-- section-3 start -->
    <section class="testimony-section position-relative d-flex align-items-center py-5">
        <div class="overlay position-absolute top-0 start-0"></div>
        <div class="container">
            <div class="row">
                <div class="col-12 d-flex justify-content-center">
                    <p class="fs-5 fw-medium text-white letter-spacing">TESTIMONIAL</p>
                </div>
                <div class="col-12 d-flex justify-content-center">
                    <h2 class="display-5 text-white fw-bolder">Happy Clients</h2>
                </div>
            </div>
        </div>
    </section>
    <!-- section-3 end -->
    <!-- section-4 start -->
    <section class="py-5">
        <div id="carouselExampleRide" class="carousel slide" data-bs-ride="true" style="padding-top: 50px; margin-top: -205px;">
            <div class="carousel-inner">
              <div class="carousel-item active" data-bs-interval="2000" style="padding-top: 140px;">
                <div class="container">
                    <div class="row">
                        <div class="col-12 happy d-flex justify-content-around">
                            <div class="col-3 position-relative col-12 col-md-5 col-xl-3">
                                    <span class="position-absolute top-0 start-100 translate-middle-1 badge rounded-circle bg p-2 fs-6 translate-middle-1-md translate-middle-1-lg translate-middle-1-xl translate-middle-1-xxl">
                                        <i class="fa-solid fa-quote-left fa-lg" style="color: #ffffff;"></i>
                                        <span class="visually-hidden">unread messages</span>
                                    </span>
                                    <div class="card p-3 mb-3 border-0 box-sh">
                                        <div class="card-body">
                                          <p class="card-text text-secondary">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                                          <div class="col-12 d-flex">
                                              <div class="frame-2 col-4">
                                               <img src="../images/person_1.jpg" alt="" style="width: 100%;">
                                               </div>
                                               <div class="col-8">
                                                <div class="col-12">
                                                    <h5 class="text-black ps-4">Roger Scott</h5>
                                                </div>
                                                <div class="col-12">
                                                    <p class="text-black ps-4">Marketing Manager</p>
                                                </div>
                                              </div>
                                          </div>
                                        </div>
                                    </div>
                            </div>
                            <div class="col-3 position-relative d-none d-md-block col-md-5 col-xl-3">
                                    <span class="position-absolute top-0 start-100 translate-middle-1 badge rounded-circle bg p-2 fs-6 translate-middle-1-md translate-middle-1-lg translate-middle-1-xl translate-middle-1-xxl">
                                        <i class="fa-solid fa-quote-left fa-lg" style="color: #ffffff;"></i>
                                        <span class="visually-hidden">unread messages</span>
                                    </span>
                                    <div class="card p-3 mb-3 border-0 box-sh">
                                        <div class="card-body">
                                          <p class="card-text text-secondary">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p> 
                                          <div class="col-12 d-flex">
                                              <div class="frame-2 col-4">
                                               <img src="../images/person_2.jpg" alt="" style="width: 100%;">
                                              </div>
                                              <div class="col-8">
                                                <div class="col-12">
                                                    <h5 class="text-black ps-4">Roger Scott</h5>
                                                </div>
                                                <div class="col-12">
                                                    <p class="text-black ps-4">Marketing Manager</p>
                                                </div>
                                              </div>
                                          </div>
                                        </div>
                                      </div>
                            </div>
                            <div class="col-3 position-relative d-none d-xl-block col-xl-3">
                                    <span class="position-absolute top-0 start-100 translate-middle-1 badge rounded-circle bg p-2 fs-6 translate-middle-1-xl translate-middle-1-xxl">
                                        <i class="fa-solid fa-quote-left fa-lg" style="color: #ffffff;"></i>
                                        <span class="visually-hidden">unread messages</span>
                                    </span>
                                    <div class="card p-3 mb-3 border-0 box-sh">
                                        <div class="card-body">
                                          <p class="card-text text-secondary">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                                          <div class="col-12 d-flex">
                                            <div class="frame-2 col-4">
                                             <img src="../images/person_3.jpg" alt="" style="width: 100%;">
                                            </div>
                                            <div class="col-8">
                                              <div class="col-12">
                                                  <h5 class="text-black ps-4">Roger Scott</h5>
                                              </div>
                                              <div class="col-12">
                                                  <p class="text-black ps-4">Marketing Manager</p>
                                              </div>
                                            </div>
                                        </div>
                                        </div>
                                      </div>
                            </div>
                        </div>
                    </div>
                </div>
              </div>
              <div class="carousel-item" data-bs-interval="1000">
                <div class="container" style="padding-top: 140px;">
                    <div class="row">
                        <div class="col-12 happy d-flex justify-content-around">
                            <div class="col-3 position-relative col-12 col-md-5 col-xl-3">
                                    <span class="position-absolute top-0 start-100 translate-middle-1 badge rounded-circle bg p-2 fs-6 translate-middle-1-md translate-middle-1-lg translate-middle-1-xl translate-middle-1-xxl">
                                        <i class="fa-solid fa-quote-left fa-lg" style="color: #ffffff;"></i>
                                        <span class="visually-hidden">unread messages</span>
                                    </span>
                                    <div class="card p-3 mb-3 border-0 box-sh">
                                        <div class="card-body">
                                          <p class="card-text text-secondary">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                                          <div class="col-12 d-flex">
                                              <div class="frame-2 col-4">
                                               <img src="../images/person_1.jpg" alt="" style="width: 100%;">
                                               </div>
                                               <div class="col-8">
                                                <div class="col-12">
                                                    <h5 class="text-black ps-4">Roger Scott</h5>
                                                </div>
                                                <div class="col-12">
                                                    <p class="text-black ps-4">Marketing Manager</p>
                                                </div>
                                              </div>
                                          </div>
                                        </div>
                                    </div>
                            </div>
                            <div class="col-3 position-relative d-none d-md-block col-md-5 col-xl-3">
                                    <span class="position-absolute top-0 start-100 translate-middle-1 badge rounded-circle bg p-2 fs-6 translate-middle-1-md translate-middle-1-lg translate-middle-1-xl translate-middle-1-xxl">
                                        <i class="fa-solid fa-quote-left fa-lg" style="color: #ffffff;"></i>
                                        <span class="visually-hidden">unread messages</span>
                                    </span>
                                    <div class="card p-3 mb-3 border-0 box-sh">
                                        <div class="card-body">
                                          <p class="card-text text-secondary">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p> 
                                          <div class="col-12 d-flex">
                                              <div class="frame-2 col-4">
                                               <img src="../images/person_2.jpg" alt="" style="width: 100%;">
                                              </div>
                                              <div class="col-8">
                                                <div class="col-12">
                                                    <h5 class="text-black ps-4">Roger Scott</h5>
                                                </div>
                                                <div class="col-12">
                                                    <p class="text-black ps-4">Marketing Manager</p>
                                                </div>
                                              </div>
                                          </div>
                                        </div>
                                      </div>
                            </div>
                            <div class="col-3 position-relative d-none d-xl-block col-xl-3">
                                    <span class="position-absolute top-0 start-100 translate-middle-1 badge rounded-circle bg p-2 fs-6 translate-middle-1-xl translate-middle-1-xxl">
                                        <i class="fa-solid fa-quote-left fa-lg" style="color: #ffffff;"></i>
                                        <span class="visually-hidden">unread messages</span>
                                    </span>
                                    <div class="card p-3 mb-3 border-0 box-sh">
                                        <div class="card-body">
                                          <p class="card-text text-secondary">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                                          <div class="col-12 d-flex">
                                            <div class="frame-2 col-4">
                                             <img src="../images/person_3.jpg" alt="" style="width: 100%;">
                                            </div>
                                            <div class="col-8">
                                              <div class="col-12">
                                                  <h5 class="text-black ps-4">Roger Scott</h5>
                                              </div>
                                              <div class="col-12">
                                                  <p class="text-black ps-4">Marketing Manager</p>
                                              </div>
                                            </div>
                                        </div>
                                        </div>
                                      </div>
                            </div>
                        </div>
                    </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="container" style="padding-top: 140px;">
                    <div class="row">
                        <div class="col-12 happy d-flex justify-content-around">
                            <div class="col-3 position-relative col-12 col-md-5 col-xl-3">
                                    <span class="position-absolute top-0 start-100 translate-middle-1 badge rounded-circle bg p-2 fs-6 translate-middle-1-md translate-middle-1-lg translate-middle-1-xl translate-middle-1-xxl">
                                        <i class="fa-solid fa-quote-left fa-lg" style="color: #ffffff;"></i>
                                        <span class="visually-hidden">unread messages</span>
                                    </span>
                                    <div class="card p-3 mb-3 border-0 box-sh">
                                        <div class="card-body">
                                          <p class="card-text text-secondary">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                                          <div class="col-12 d-flex">
                                              <div class="frame-2 col-4">
                                               <img src="../images/person_1.jpg" alt="" style="width: 100%;">
                                               </div>
                                               <div class="col-8">
                                                <div class="col-12">
                                                    <h5 class="text-black ps-4">Roger Scott</h5>
                                                </div>
                                                <div class="col-12">
                                                    <p class="text-black ps-4">Marketing Manager</p>
                                                </div>
                                              </div>
                                          </div>
                                        </div>
                                    </div>
                            </div>
                            <div class="col-3 position-relative d-none d-md-block col-md-5 col-xl-3">
                                    <span class="position-absolute top-0 start-100 translate-middle-1 badge rounded-circle bg p-2 fs-6 translate-middle-1-md translate-middle-1-lg translate-middle-1-xl translate-middle-1-xxl">
                                        <i class="fa-solid fa-quote-left fa-lg" style="color: #ffffff;"></i>
                                        <span class="visually-hidden">unread messages</span>
                                    </span>
                                    <div class="card p-3 mb-3 border-0 box-sh">
                                        <div class="card-body">
                                          <p class="card-text text-secondary">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p> 
                                          <div class="col-12 d-flex">
                                              <div class="frame-2 col-4">
                                               <img src="../images/person_2.jpg" alt="" style="width: 100%;">
                                              </div>
                                              <div class="col-8">
                                                <div class="col-12">
                                                    <h5 class="text-black ps-4">Roger Scott</h5>
                                                </div>
                                                <div class="col-12">
                                                    <p class="text-black ps-4">Marketing Manager</p>
                                                </div>
                                              </div>
                                          </div>
                                        </div>
                                      </div>
                            </div>
                            <div class="col-3 position-relative d-none d-xl-block col-xl-3">
                                    <span class="position-absolute top-0 start-100 translate-middle-1 badge rounded-circle bg p-2 fs-6 translate-middle-1-xl translate-middle-1-xxl">
                                        <i class="fa-solid fa-quote-left fa-lg" style="color: #ffffff;"></i>
                                        <span class="visually-hidden">unread messages</span>
                                    </span>
                                    <div class="card p-3 mb-3 border-0 box-sh">
                                        <div class="card-body">
                                          <p class="card-text text-secondary">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                                          <div class="col-12 d-flex">
                                            <div class="frame-2 col-4">
                                             <img src="../images/person_3.jpg" alt="" style="width: 100%;">
                                            </div>
                                            <div class="col-8">
                                              <div class="col-12">
                                                  <h5 class="text-black ps-4">Roger Scott</h5>
                                              </div>
                                              <div class="col-12">
                                                  <p class="text-black ps-4">Marketing Manager</p>
                                              </div>
                                            </div>
                                        </div>
                                        </div>
                                      </div>
                            </div>
                        </div>
                    </div>
                </div>
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleRide" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <i class="fa-solid fa-less-than fa-2xl" style="color: #528760;"></i>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleRide" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <i class="fa-solid fa-greater-than fa-2xl" style="color: #528760;"></i>
            </button>
          </div>
          <div class="col-12 d-flex justify-content-center pb-3">
            <a href="#carouselExampleRide" class="blog-bol-home me-1 d-flex justify-content-center align-items-center text-decoration-none text-white bg-success"></a>
            <a href="#carouselExampleRide" class="blog-bol-home me-1 d-flex justify-content-center align-items-center text-decoration-none text-success"></a>
            <a href="#carouselExampleRide" class="blog-bol-home me-1 d-flex justify-content-center align-items-center text-decoration-none text-success"></a>
            <a href="#carouselExampleRide" class="blog-bol-home me-1 d-flex justify-content-center align-items-center text-decoration-none text-success"></a>
            <a href="#carouselExampleRide" class="blog-bol-home me-1 d-flex justify-content-center align-items-center text-decoration-none text-success"></a>
        </div>
    </section>
    <!-- section-4 end -->
    <!-- section-5 start -->
    <section class="ftco-appointment position-relative d-flex align-items-center py-5">
        <div class="overlay position-absolute top-0 start-0"></div>
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-6 col-lg-5 col-xl-12">
                    <h2 class="text-white fw-bold">Send a Message & Get in touch!</h2>
                </div>
                <div class="col-12">
                    <div class="col-5 col-12 col-md-6 col-lg-5">

                        <form action="/submit" method="POST">
                                <input type="text" name="name" placeholder="Your Name" required>

                                <input type="email" name="email" placeholder="Email" required>

                                <select name="service" required>
                                    <option value="">Service</option>
                                    <option value="Relation Problem">Relation Problem</option>
                                    <option value="Couple Counseling">Couple Counseling</option>
                                    <option value="Depression Treatment">Depression Treatment</option>
                                    <option value="Family Problem">Family Problem</option>
                                    <option value="Personal Problem">Personal Problem</option>
                                    <option value="Business Problem">Business Problem</option>
                                </select>

                                <textarea name="message" placeholder="Message" rows="5"></textarea>

                                <button class="bg-success text-white fo" type="submit">
                                    Send Message
                                </button>
                            </form>
                    </div>
                    <div class="col-7"></div>
                </div>
            </div>
        </div>
    </section>
    <!-- section-5 end -->
    </main>
    <!-- footer start -->
<%- include('../partials/footer')%>