<%- include('../partials/header')%>
    <!-- banner start -->
    <main>
        <section class="banner-about position-relative d-flex align-items-end py-5">
                <div class="overlay-ab-pg-2 position-absolute top-0 start-0"></div>
                 <div class="container">
                    <div class="row">
                        <div class="col-12 d-flex justify-content-center">
                            <ul class="list-unstyled m-0 d-flex">
                                <li>
                                    <a href="../index.html" class="text-decoration-none text-black ">HOME <i class="fa-solid fa-chevron-right me-1" style="color: #000000;"></i></a>
                                </li>
                                <li class="text-black ">BLOG<i class="fa-solid fa-chevron-right me-1" style="color: #000000;"></i></li>
                            </ul>
                        </div>
                        <div class="col-12 d-flex justify-content-center">
                            <h2 class="display-3 fw-semibold ">Our Blog</h2>
                        </div>
                    </div>
                </div>
        </section>
    <!-- banner end -->
    <!-- section-1 start -->
    <section class="py-90">
        <div class="container">
            <div class="row">
                <div class="col-12 d-flex justify-content-center">
                    <p class="fs-6  fw-normal letter-spacing text-success">BLOG</p>
                </div>
                <div class="col-12 d-flex justify-content-center">
                    <h2 class="display-5 fw-semibold text-body-secondary">Recent Blog</h2>
                </div>
                <div class="col-12 pt-5 d-flex flex-wrap flex-md-nowrap">
                    <div class="col-4 px-3 col-12 col-md-4">
                        <div class="card border-0 rounded-0">
                            <img src="../images/img-5.jpg" class="card-img-top" alt="...">
                            <div class="blog k-wh d-flex align-items-center justify-content-center flex-column blog-sm blog-lg blog-xl blog-xxl">
                                <span class="h2  mb-0 k-wh">18</span>
                                <span class="fw-bold mb-0 k-bl">APRIL</span>
                                <span class="font-size-12 k-bl">2020</span>
                            </div>
                            <div class="card-body p-md-0 pt-md-5">
                                <h5 class="text-center"><a href="#" class="text-decoration-none text-black fw-semibold">Social Media Risks To Mental Health</a></h5>
                              <p class="card-text text-secondary text-center pt-3 fs-xl-20">A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-4 px-3 col-12 col-md-4">
                        <div class="card border-0 rounded-0">
                            <img src="../images/img-6.jpg" class="card-img-top" alt="...">
                            <div class="blog k-wh d-flex align-items-center justify-content-center flex-column blog-sm blog-lg blog-xl blog-xxl">
                                <span class="h2  mb-0 k-wh">18</span>
                                <span class="fw-bold mb-0 k-bl">APRIL</span>
                                <span class="font-size-12 k-bl">2020</span>
                            </div>
                            <div class="card-body p-md-0 pt-md-5">
                                <h5 class="text-center"><a href="#" class="text-decoration-none text-black fw-semibold">Social Media Risks To Mental Health</a></h5>
                              <p class="card-text text-secondary text-center pt-3 fs-xl-20">A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-4 px-3 col-12 col-md-4">
                        <div class="card border-0 rounded-0">
                            <img src="../images/img-7.jpg" class="card-img-top" alt="...">
                            <div class="blog k-wh d-flex align-items-center justify-content-center flex-column blog-sm blog-lg blog-xl blog-xxl">
                                <span class="h2  mb-0 k-wh">18</span>
                                <span class="fw-bold mb-0 k-bl">APRIL</span>
                                <span class="font-size-12 k-bl">2020</span>
                            </div>
                            <div class="card-body p-md-0 pt-md-5">
                                <h5 class="text-center"><a href="#" class="text-decoration-none text-black fw-semibold ">Social Media Risks To Mental Health</a></h5>
                              <p class="card-text text-secondary text-center pt-3 fs-xl-20">A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 pt-5 d-flex flex-wrap flex-md-nowrap">
                    <div class="col-4 px-3 col-12 col-md-4">
                        <div class="card border-0 rounded-0">
                            <img src="../images/image_4.jpg" class="card-img-top" alt="...">
                            <div class="blog k-wh d-flex align-items-center justify-content-center flex-column blog-sm blog-lg blog-xl blog-xxl">
                                <span class="h2  mb-0 k-wh">18</span>
                                <span class="fw-bold mb-0 k-bl">APRIL</span>
                                <span class="font-size-12 k-bl">2020</span>
                            </div>
                            <div class="card-body p-md-0 pt-md-5">
                                <h5 class="text-center"><a href="#" class="text-decoration-none text-black fw-semibold">Social Media Risks To Mental Health</a></h5>
                              <p class="card-text text-secondary text-center pt-3 fs-xl-20">A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-4 px-3 col-12 col-md-4">
                        <div class="card border-0 rounded-0">
                            <img src="../images/image_5.jpg" class="card-img-top" alt="...">
                            <div class="blog k-wh d-flex align-items-center justify-content-center flex-column blog-sm blog-lg blog-xl blog-xxl">
                                <span class="h2  mb-0 k-wh">18</span>
                                <span class="fw-bold mb-0 k-bl">APRIL</span>
                                <span class="font-size-12 k-bl">2020</span>
                            </div>
                            <div class="card-body p-md-0 pt-md-5">
                                <h5 class="text-center"><a href="#" class="text-decoration-none text-black fw-semibold">Social Media Risks To Mental Health</a></h5>
                              <p class="card-text text-secondary text-center pt-3 fs-xl-20">A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-4 px-3 col-12 col-md-4">
                        <div class="card border-0 rounded-0">
                            <img src="../images/image_6.jpg" class="card-img-top" alt="...">
                            <div class="blog k-wh d-flex align-items-center justify-content-center flex-column blog-sm blog-lg blog-xl blog-xxl">
                                <span class="h2  mb-0 k-wh">18</span>
                                <span class="fw-bold mb-0 k-bl">APRIL</span>
                                <span class="font-size-12 k-bl">2020</span>
                            </div>
                            <div class="card-body p-md-0 pt-md-5">
                                <h5 class="text-center"><a href="#" class="text-decoration-none text-black fw-semibold ">Social Media Risks To Mental Health</a></h5>
                              <p class="card-text text-secondary text-center pt-3 fs-xl-20">A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 pt-5 d-flex flex-wrap flex-md-nowrap">
                    <div class="col-4 px-3 col-12 col-md-4">
                        <div class="card border-0 rounded-0">
                            <img src="../images/image_7.jpg" class="card-img-top" alt="...">
                            <div class="blog k-wh d-flex align-items-center justify-content-center flex-column blog-sm blog-lg blog-xl blog-xxl">
                                <span class="h2  mb-0 k-wh">18</span>
                                <span class="fw-bold mb-0 k-bl">APRIL</span>
                                <span class="font-size-12 k-bl">2020</span>
                            </div>
                            <div class="card-body p-md-0 pt-md-5">
                                <h5 class="text-center"><a href="#" class="text-decoration-none text-black fw-semibold">Social Media Risks To Mental Health</a></h5>
                              <p class="card-text text-secondary text-center pt-3 fs-xl-20">A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-4 px-3 col-12 col-md-4">
                        <div class="card border-0 rounded-0">
                            <img src="../images/image_8.jpg" class="card-img-top" alt="...">
                            <div class="blog k-wh d-flex align-items-center justify-content-center flex-column blog-sm blog-lg blog-xl blog-xxl">
                                <span class="h2  mb-0 k-wh">18</span>
                                <span class="fw-bold mb-0 k-bl">APRIL</span>
                                <span class="font-size-12 k-bl">2020</span>
                            </div>
                            <div class="card-body p-md-0 pt-md-5">
                                <h5 class="text-center"><a href="#" class="text-decoration-none text-black fw-semibold">Social Media Risks To Mental Health</a></h5>
                              <p class="card-text text-secondary text-center pt-3 fs-xl-20">A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-4 px-3 col-12 col-md-4">
                        <div class="card border-0 rounded-0">
                            <img src="../images/image_9.jpg" class="card-img-top" alt="..." style="aspect-ratio: 1/1; object-fit: cover;">
                            <div class="blog k-wh d-flex align-items-center justify-content-center flex-column blog-sm blog-lg blog-xl blog-xxl">
                                <span class="h2  mb-0 k-wh">18</span>
                                <span class="fw-bold mb-0 k-bl">APRIL</span>
                                <span class="font-size-12 k-bl">2020</span>
                            </div>
                            <div class="card-body p-md-0 pt-md-5">
                                <h5 class="text-center"><a href="#" class="text-decoration-none text-black fw-semibold ">Social Media Risks To Mental Health</a></h5>
                              <p class="card-text text-secondary text-center pt-3 fs-xl-20">A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 d-flex justify-content-center pt-5 pb-3">
                <a href="../index.html" class="blog-bol d-flex justify-content-center align-items-center text-decoration-none me-1"> <i class="fa-solid fa-less-than" style="color: #88b587;"></i></a>
                <a href="../pages/blog-page.html" class="blog-bol me-1 d-flex justify-content-center align-items-center text-decoration-none text-white bg-success">1</a>
                <a href="../pages/blog-page.html" class="blog-bol me-1 d-flex justify-content-center align-items-center text-decoration-none text-success">2</a>
                <a href="../pages/blog-page.html" class="blog-bol me-1 d-flex justify-content-center align-items-center text-decoration-none text-success">3</a>
                <a href="../pages/blog-page.html" class="blog-bol me-1 d-flex justify-content-center align-items-center text-decoration-none text-success">4</a>
                <a href="../pages/blog-page.html" class="blog-bol me-1 d-flex justify-content-center align-items-center text-decoration-none text-success">5</a>
                <a href="../pages/blog-page.html" class="blog-bol d-flex justify-content-center align-items-center text-decoration-none"> <i class="fa-solid fa-greater-than" style="color: #7fa67d;"></i></a>
            </div>
        </div>
    </section>
<!-- section-1 end -->
    </main>

    <!-- footer start -->
<%- include('../partials/footer')%>