<%- include('../partials/header')%>
    <!-- banner start -->
    <main>
    <section class="banner-about position-relative d-flex align-items-end py-5">
            <div class="overlay-ab-pg-2 position-absolute top-0 start-0"></div>
             <div class="container">
                <div class="row">
                    <div class="col-12 d-flex justify-content-center">
                        <ul class="list-unstyled m-0 d-flex">
                            <li>
                                <a href="../index.html" class="text-decoration-none text-black ">HOME <i class="fa-solid fa-chevron-right me-1" style="color: #000000;"></i></a>
                            </li>
                            <li class="text-black ">COUNSELOR <i class="fa-solid fa-chevron-right me-1" style="color: #000000;"></i></li>
                        </ul>
                    </div>
                    <div class="col-12 d-flex justify-content-center">
                        <h2 class="display-3 fw-semibold ">Qualified Counselor</h2>
                    </div>
                </div>
             </div>
    </section>
    <!-- banner end -->
    <!-- section-1 start -->
    <section class="about-s2 pt-5">
        <div class="container py-5">
            <div class="row">
                <div class="col-12 d-flex flex-wrap">
                    <div class="col-3 pe-4 col-12 pb-5 col-md-6 col-lg-3">
                        <div class="card-1">
                            <div class="card border-0">
                                <div class="card-f">
                                    <img src="../images/man-1.jpg" class="card-img-top" alt="man-1" style="width: 100%; height: 350px; object-fit: cover; overflow: hidden; object-position: top;">
                                </div>
                                <div class="d-flex justify-content-center mt-45 z-1 card-icon">
                                    <div class="counselor-bol me-2 d-flex justify-content-center align-items-center"><i class="fa-brands fa-twitter " style="color: #ffffff;"></i></div>
                                    <div class="counselor-bol me-2 d-flex justify-content-center align-items-center"><i class="fa-brands fa-facebook-f" style="color: #ffffff;"></i></div>
                                    <div class="counselor-bol me-2 d-flex justify-content-center align-items-center"><i class="fa-brands fa-google" style="color: #ffffff;"></i></div>
                                    <div class="counselor-bol me-2 d-flex justify-content-center align-items-center"><i class="fa-brands fa-instagram" style="color: #ffffff;"></i></div>
                                </div>
                                <div class="card-body text-center  pb-5">
                                <h4 class="card-title pt-3">Lloyd Wilson</h4>
                                <p class="card-h letter-spacing text-success font-size-12 fw-bold pt-3">COUNSELOR</p>
                                <p class="card-text fs-19 text-secondary fw-normal">I am an ambitious <br> workaholic, but apart from <br> that, pretty simple person.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-3 pe-4 col-12 pb-5 col-md-6 col-lg-3">
                        <div class="card-1">
                            <div class="card border-0">
                                <div class="card-f">
                                    <img src="../images/man-2.jpg" class="card-img-top" alt="man-1" style="width: 100%; height: 350px; object-fit: cover; overflow: hidden; object-position: top;">
                                </div>
                                <div class="d-flex justify-content-center mt-45 z-1 card-icon">
                                    <div class="counselor-bol me-2 d-flex justify-content-center align-items-center"><i class="fa-brands fa-twitter " style="color: #ffffff;"></i></div>
                                    <div class="counselor-bol me-2 d-flex justify-content-center align-items-center"><i class="fa-brands fa-facebook-f" style="color: #ffffff;"></i></div>
                                    <div class="counselor-bol me-2 d-flex justify-content-center align-items-center"><i class="fa-brands fa-google" style="color: #ffffff;"></i></div>
                                    <div class="counselor-bol me-2 d-flex justify-content-center align-items-center"><i class="fa-brands fa-instagram" style="color: #ffffff;"></i></div>
                                </div>
                                <div class="card-body text-center  pb-5">
                                <h4 class="card-title pt-3">Rachel Parker</h4>
                                <p class="card-h letter-spacing text-success font-size-12 fw-bold pt-3">COUNSELOR</p>
                                <p class="card-text fs-19 text-secondary fw-normal">I am an ambitious <br> workaholic, but apart from <br> that, pretty simple person.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-3 pe-4 col-12 pb-5 col-md-6 col-lg-3">
                        <div class="card-1">
                        <div class="card border-0">
                            <div class="card-f">
                                <img src="../images/man-3.jpg" class="card-img-top" alt="man-1" style="width: 100%; height: 350px; object-fit: cover; overflow: hidden; object-position: top;">
                            </div>
                            <div class="d-flex justify-content-center mt-45 z-1 card-icon">
                                <div class="counselor-bol me-2 d-flex justify-content-center align-items-center"><i class="fa-brands fa-twitter " style="color: #ffffff;"></i></div>
                                <div class="counselor-bol me-2 d-flex justify-content-center align-items-center"><i class="fa-brands fa-facebook-f" style="color: #ffffff;"></i></div>
                                <div class="counselor-bol me-2 d-flex justify-content-center align-items-center"><i class="fa-brands fa-google" style="color: #ffffff;"></i></div>
                                <div class="counselor-bol me-2 d-flex justify-content-center align-items-center"><i class="fa-brands fa-instagram" style="color: #ffffff;"></i></div>
                            </div>
                            <div class="card-body text-center  pb-5">
                              <h4 class="card-title pt-3">Ian Smith</h4>
                              <p class="card-h letter-spacing text-success font-size-12 fw-bold pt-3">COUNSELOR</p>
                              <p class="card-text fs-19 text-secondary fw-normal">I am an ambitious <br> workaholic, but apart from <br> that, pretty simple person.</p>
                            </div>
                        </div>
                        </div>
                    </div>
                    <div class="col-3 pe-4 col-12 pb-5 col-md-6 col-lg-3">
                        <div class="card-1">
                        <div class="card border-0">
                            <div class="card-f">
                                <img src="../images/man-4.jpg" class="card-img-top" alt="man-1" style="width: 100%; height: 350px; object-fit: cover; overflow: hidden; object-position: top;">
                            </div>
                            <div class="d-flex justify-content-center mt-45 z-1 card-icon">
                                <div class="counselor-bol me-2 d-flex justify-content-center align-items-center"><i class="fa-brands fa-twitter " style="color: #ffffff;"></i></div>
                                <div class="counselor-bol me-2 d-flex justify-content-center align-items-center"><i class="fa-brands fa-facebook-f" style="color: #ffffff;"></i></div>
                                <div class="counselor-bol me-2 d-flex justify-content-center align-items-center"><i class="fa-brands fa-google" style="color: #ffffff;"></i></div>
                                <div class="counselor-bol me-2 d-flex justify-content-center align-items-center"><i class="fa-brands fa-instagram" style="color: #ffffff;"></i></div>
                            </div>
                            <div class="card-body text-center  pb-5">
                              <h5 class="card-title pt-3">Alicia Henderson</h5>
                              <p class="card-h letter-spacing text-success font-size-12 fw-bold pt-3">COUNSELOR</p>
                              <p class="card-text fs-19 text-secondary fw-normal">I am an ambitious <br> workaholic, but apart from <br> that, pretty simple person.</p>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 d-flex pt-5 flex-wrap">
                    <div class="col-3 pe-4 col-12 col-md-6 col-lg-3 mb-5">
                        <div class="card-1">
                        <div class="card border-0">
                            <div class="card-f">
                                <img src="../images/man-5.jpg" class="card-img-top" alt="man-1" style="width: 100%; height: 350px; object-fit: cover; overflow: hidden; object-position: top;">
                            </div>
                            <div class="d-flex justify-content-center mt-45 z-1 card-icon">
                                <div class="counselor-bol me-2 d-flex justify-content-center align-items-center"><i class="fa-brands fa-twitter " style="color: #ffffff;"></i></div>
                                <div class="counselor-bol me-2 d-flex justify-content-center align-items-center"><i class="fa-brands fa-facebook-f" style="color: #ffffff;"></i></div>
                                <div class="counselor-bol me-2 d-flex justify-content-center align-items-center"><i class="fa-brands fa-google" style="color: #ffffff;"></i></div>
                                <div class="counselor-bol me-2 d-flex justify-content-center align-items-center"><i class="fa-brands fa-instagram" style="color: #ffffff;"></i></div>
                            </div>
                            <div class="card-body text-center  pb-5">
                              <h4 class="card-title pt-3">Lloyd Wilson</h4>
                              <p class="card-h letter-spacing text-success font-size-12 fw-bold pt-3">COUNSELOR</p>
                              <p class="card-text fs-19 text-secondary fw-normal">I am an ambitious <br> workaholic, but apart from <br> that, pretty simple person.</p>
                            </div>
                        </div>
                        </div>
                    </div>
                    <div class="col-3 pe-4 col-12 col-md-6 col-lg-3">
                        <div class="card-1">
                        <div class="card border-0">
                            <div class="card-f">
                                <img src="../images/girl.jpg" class="card-img-top" alt="man-1" style="width: 100%; height: 350px; object-fit: cover; overflow: hidden; object-position: top;">
                            </div>
                            <div class="d-flex justify-content-center mt-45 z-1 card-icon">
                                <div class="counselor-bol me-2 d-flex justify-content-center align-items-center"><i class="fa-brands fa-twitter " style="color: #ffffff;"></i></div>
                                <div class="counselor-bol me-2 d-flex justify-content-center align-items-center"><i class="fa-brands fa-facebook-f" style="color: #ffffff;"></i></div>
                                <div class="counselor-bol me-2 d-flex justify-content-center align-items-center"><i class="fa-brands fa-google" style="color: #ffffff;"></i></div>
                                <div class="counselor-bol me-2 d-flex justify-content-center align-items-center"><i class="fa-brands fa-instagram" style="color: #ffffff;"></i></div>
                            </div>
                            <div class="card-body text-center  pb-5">
                              <h4 class="card-title pt-3">Rachel Parker</h4>
                              <p class="card-h letter-spacing text-success font-size-12 fw-bold pt-3">COUNSELOR</p>
                              <p class="card-text fs-19 text-secondary fw-normal">I am an ambitious <br> workaholic, but apart from <br> that, pretty simple person.</p>
                            </div>
                        </div>
                        </div>
                    </div>
                    <div class="col-3 pe-4 col-12 pt-5 col-md-6 col-lg-3 pt-lg-0">
                        <div class="card-1">
                        <div class="card border-0">
                            <div class="card-f">
                                <img src="../images/man-6.jpg" class="card-img-top" alt="man-1" style="width: 100%; height: 350px; object-fit: cover; overflow: hidden; object-position: top;">
                            </div>
                            <div class="d-flex justify-content-center mt-45 z-1 card-icon">
                                <div class="counselor-bol me-2 d-flex justify-content-center align-items-center"><i class="fa-brands fa-twitter " style="color: #ffffff;"></i></div>
                                <div class="counselor-bol me-2 d-flex justify-content-center align-items-center"><i class="fa-brands fa-facebook-f" style="color: #ffffff;"></i></div>
                                <div class="counselor-bol me-2 d-flex justify-content-center align-items-center"><i class="fa-brands fa-google" style="color: #ffffff;"></i></div>
                                <div class="counselor-bol me-2 d-flex justify-content-center align-items-center"><i class="fa-brands fa-instagram" style="color: #ffffff;"></i></div>
                            </div>
                            <div class="card-body text-center  pb-5">
                              <h4 class="card-title pt-3">Ian Smith</h4>
                              <p class="card-h letter-spacing text-success font-size-12 fw-bold pt-3">COUNSELOR</p>
                              <p class="card-text fs-19 text-secondary fw-normal">I am an ambitious <br> workaholic, but apart from <br> that, pretty simple person.</p>
                            </div>
                        </div>
                        </div>
                    </div>
                    <div class="col-3 pe-4 col-12 pt-5 col-md-6 col-lg-3 pt-lg-0">
                        <div class="card-1">
                        <div class="card border-0">
                            <div class="card-f">
                                <img src="../images/man-7.jpg" class="card-img-top" alt="man-1" style="width: 100%; height: 350px; object-fit: cover; overflow: hidden; object-position: top;">
                            </div>
                            <div class="d-flex justify-content-center mt-45 z-1 card-icon">
                                <div class="counselor-bol me-2 d-flex justify-content-center align-items-center"><i class="fa-brands fa-twitter " style="color: #ffffff;"></i></div>
                                <div class="counselor-bol me-2 d-flex justify-content-center align-items-center"><i class="fa-brands fa-facebook-f" style="color: #ffffff;"></i></div>
                                <div class="counselor-bol me-2 d-flex justify-content-center align-items-center"><i class="fa-brands fa-google" style="color: #ffffff;"></i></div>
                                <div class="counselor-bol me-2 d-flex justify-content-center align-items-center"><i class="fa-brands fa-instagram" style="color: #ffffff;"></i></div>
                            </div>
                            <div class="card-body text-center  pb-5">
                              <h4 class="card-title pt-3">Fred Henderson</h4>
                              <p class="card-h letter-spacing text-success font-size-12 fw-bold pt-3">COUNSELOR</p>
                              <p class="card-text fs-19 text-secondary fw-normal">I am an ambitious <br> workaholic, but apart from <br> that, pretty simple person.</p>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- section-1 end -->
    <!-- section-2 start -->
    <section class="bg-light-clo" style="padding: 120px 0px;">
        <div class="container">
            <div class="row">
                <div class="col-12 d-flex justify-content-center">
                    <p class="fs-6  fw-normal letter-spacing text-success">Price & Plans</p>
                </div>
                <div class="col-12 d-flex justify-content-center">
                    <h2 class="display-5 fw-semibold text-body-secondary">Affordable Packages</h2>
                </div>
                <div class="col-12 d-flex justify-content-evenly pt-5 flex-wrap">
                    <div class="col-3 col-12 col-md-6 px-md-1 col-lg-3">
                        <div class="card border-0 text-center p-3 rounded-0">
                            <div class="card-body ">
                                <span class="price">
                                    <sup class="h6 text-secondary">$</sup>
                                    <span class="display-3 fw-medium text-success">49</span>
                                    <sub class="h6 text-secondary">/mo</sub>
                                </span>
                            </div>
                            <ul class="mb-5 p-0">
                                <span class="fs-5 fw-bold border-bottom-1">For Adults</span>
                                <div class="line-l bg-secondary"></div>
                              <li class="list-group-item mt-4 text-secondary fs-5"><i class="fa-solid fa-check fa-lg me-2" style="color: #528760;"></i>Individual Counseling</li>
                              <li class="list-group-item mt-3 text-secondary fs-5"><i class="fa-solid fa-check fa-lg me-2" style="color: #528760;"></i>Couples <br class="d-sm-none d-lg-block d-xl-none"> Therapy</li>
                              <li class="list-group-item mt-3 text-secondary fs-5"><i class="fa-solid fa-check fa-lg me-2" style="color: #528760;"></i>Family <br class="d-sm-none d-lg-block d-xl-none"> Therapy</li>
                            </ul>
                            <div class="card-body d-grid">
                                <button class="btn btn-success fw-bold color-ofw rounded-0" type="button">GET STARTED</button>
                            </div>
                          </div>
                    </div>
                    <div class="col-3 col-12 pt-5 col-md-6 px-md-1 pt-md-0 col-lg-3">
                        <div class="card border-0 text-center p-3 rounded-0">
                            <div class="card-body ">
                                <span class="price">
                                    <sup class="h6 text-secondary">$</sup>
                                    <span class="display-3 fw-medium text-success">79</span>
                                    <sub class="h6 text-secondary">/mo</sub>
                                </span>
                            </div>
                            <ul class="mb-5 p-0">
                                <span class="fs-5 fw-bold border-bottom-1 ">For Children</span>
                                <div class="line-l bg-secondary"></div>
                              <li class="list-group-item mt-4 text-secondary fs-5"><i class="fa-solid fa-check fa-lg me-2" style="color: #528760;"></i>Counseling for Children</li>
                              <li class="list-group-item mt-3 text-secondary fs-5"><i class="fa-solid fa-check fa-lg me-2" style="color: #528760;"></i>Behavioral Manage..</li>
                              <li class="list-group-item mt-3 text-secondary fs-5"><i class="fa-solid fa-check fa-lg me-2" style="color: #528760;"></i>Educational Counseling</li>
                            </ul>
                            <div class="card-body d-grid">
                                <button class="btn btn-success fw-bold color-ofw rounded-0" type="button">GET STARTED</button>
                            </div>
                          </div>
                    </div>
                    <div class="col-3 col-12 pt-5 d-md-none col-lg-3 d-lg-block pt-lg-0">
                        <div class="card border-0 text-center p-3 rounded-0 ">
                            <div class="card-body ">
                                <span class="price">
                                    <sup class="h6 text-secondary">$</sup>
                                    <span class="display-3 fw-medium text-success">109</span>
                                    <sub class="h6 text-secondary">/mo</sub>
                                </span>
                            </div>
                            <ul class="mb-5 p-0">
                                <span class="fs-5 fw-bold border-bottom-1 ">For Business</span>
                                <div class="line-l bg-secondary"></div>
                              <li class="list-group-item mt-4 text-secondary fs-5 "><i class="fa-solid fa-check fa-lg me-2" style="color: #528760;"></i>Consultancy Services</li>
                              <li class="list-group-item mt-3 text-secondary fs-5"><i class="fa-solid fa-check fa-lg me-2" style="color: #528760;"></i>Employee Counseling</li>
                              <li class="list-group-item mt-4 text-secondary fs-5"><i class="fa-solid fa-check fa-lg me-2" style="color: #528760;"></i>Psychological Assess..</li>
                            </ul>
                            <div class="card-body d-grid">
                                <button class="btn btn-success fw-bold color-ofw rounded-0" type="button">GET STARTED</button>
                            </div>
                          </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- section-2 end -->
    </main>
    <!-- footer start -->
<%- include('../partials/footer')%>