<%- include('../partials/header')%>
    <!-- banner start -->
    <main>
        <section class="banner-about position-relative d-flex align-items-end py-5">
                <div class="overlay-ab-pg-2 position-absolute top-0 start-0"></div>
                 <div class="container">
                    <div class="row">
                        <div class="col-12 d-flex justify-content-center">
                            <ul class="list-unstyled m-0 d-flex">
                                <li>
                                    <a href="../index.html" class="text-decoration-none text-black ">HOME <i class="fa-solid fa-chevron-right me-1" style="color: #000000;"></i></a>
                                </li>
                                <li class="text-black ">PRICING<i class="fa-solid fa-chevron-right me-1" style="color: #000000;"></i></li>
                            </ul>
                        </div>
                        <div class="col-12 d-flex justify-content-center">
                            <h2 class="display-3 fw-semibold ">Pricing & Plans</h2>
                        </div>
                    </div>
                </div>
        </section>
    <!-- banner end -->
     <!-- section-1 start -->
     <section class="bg-light-clo" style="padding: 120px 0px;">
        <div class="container">
            <div class="row">
                <div class="col-12 d-flex justify-content-center">
                    <p class="fs-6  fw-normal letter-spacing text-success">Price & Plans</p>
                </div>
                <div class="col-12 d-flex justify-content-center">
                    <h2 class="display-5 fw-semibold text-body-secondary">Affordable Packages</h2>
                </div>
                <div class="col-12 d-flex justify-content-evenly pt-5 flex-wrap">
                    <div class="col-3 col-12 col-md-6 px-md-1 col-lg-3">
                        <div class="card border-0 text-center p-3 rounded-0">
                            <div class="card-body ">
                                <span class="price">
                                    <sup class="h6 text-secondary">$</sup>
                                    <span class="display-3 fw-medium text-success">49</span>
                                    <sub class="h6 text-secondary">/mo</sub>
                                </span>
                            </div>
                            <ul class="mb-5 p-0">
                                <span class="fs-5 fw-bold border-bottom-1">For Adults</span>
                                <div class="line-l bg-secondary"></div>
                              <li class="list-group-item mt-4 text-secondary fs-5"><i class="fa-solid fa-check fa-lg me-2" style="color: #528760;"></i>Individual Counseling</li>
                              <li class="list-group-item mt-3 text-secondary fs-5"><i class="fa-solid fa-check fa-lg me-2" style="color: #528760;"></i>Couples <br class="d-sm-none d-lg-block d-xl-none"> Therapy</li>
                              <li class="list-group-item mt-3 text-secondary fs-5"><i class="fa-solid fa-check fa-lg me-2" style="color: #528760;"></i>Family <br class="d-sm-none d-lg-block d-xl-none"> Therapy</li>
                            </ul>
                            <div class="card-body d-grid">
                                <button class="btn btn-success fw-bold color-ofw rounded-0" type="button">GET STARTED</button>
                            </div>
                          </div>
                    </div>
                    <div class="col-3 col-12 pt-5 col-md-6 px-md-1 pt-md-0 col-lg-3">
                        <div class="card border-0 text-center p-3 rounded-0">
                            <div class="card-body ">
                                <span class="price">
                                    <sup class="h6 text-secondary">$</sup>
                                    <span class="display-3 fw-medium text-success">79</span>
                                    <sub class="h6 text-secondary">/mo</sub>
                                </span>
                            </div>
                            <ul class="mb-5 p-0">
                                <span class="fs-5 fw-bold border-bottom-1 ">For Children</span>
                                <div class="line-l bg-secondary"></div>
                              <li class="list-group-item mt-4 text-secondary fs-5"><i class="fa-solid fa-check fa-lg me-2" style="color: #528760;"></i>Counseling for Children</li>
                              <li class="list-group-item mt-3 text-secondary fs-5"><i class="fa-solid fa-check fa-lg me-2" style="color: #528760;"></i>Behavioral Manage..</li>
                              <li class="list-group-item mt-3 text-secondary fs-5"><i class="fa-solid fa-check fa-lg me-2" style="color: #528760;"></i>Educational Counseling</li>
                            </ul>
                            <div class="card-body d-grid">
                                <button class="btn btn-success fw-bold color-ofw rounded-0" type="button">GET STARTED</button>
                            </div>
                          </div>
                    </div>
                    <div class="col-3 col-12 pt-5 d-md-none col-lg-3 d-lg-block pt-lg-0">
                        <div class="card border-0 text-center p-3 rounded-0 ">
                            <div class="card-body ">
                                <span class="price">
                                    <sup class="h6 text-secondary">$</sup>
                                    <span class="display-3 fw-medium text-success">109</span>
                                    <sub class="h6 text-secondary">/mo</sub>
                                </span>
                            </div>
                            <ul class="mb-5 p-0">
                                <span class="fs-5 fw-bold border-bottom-1 ">For Business</span>
                                <div class="line-l bg-secondary"></div>
                              <li class="list-group-item mt-4 text-secondary fs-5 "><i class="fa-solid fa-check fa-lg me-2" style="color: #528760;"></i>Consultancy Services</li>
                              <li class="list-group-item mt-3 text-secondary fs-5"><i class="fa-solid fa-check fa-lg me-2" style="color: #528760;"></i>Employee Counseling</li>
                              <li class="list-group-item mt-4 text-secondary fs-5"><i class="fa-solid fa-check fa-lg me-2" style="color: #528760;"></i>Psychological Assess..</li>
                            </ul>
                            <div class="card-body d-grid">
                                <button class="btn btn-success fw-bold color-ofw rounded-0" type="button">GET STARTED</button>
                            </div>
                          </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- section-1 end -->
     <!-- section-2 start -->
    <section class="ftco-appointment position-relative d-flex align-items-center py-5">
        <div class="overlay position-absolute top-0 start-0"></div>
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-6 col-lg-5 col-xl-12">
                    <h2 class="text-white fw-bold">Send a Message & Get in touch!</h2>
                </div>
                <div class="col-12">
                    <div class="col-5 col-12 col-md-6 col-lg-5">

                        <form action="/submit" method="POST">
                                <input type="text" name="name" placeholder="Your Name" required>

                                <input type="email" name="email" placeholder="Email" required>

                                <select name="service" required>
                                    <option value="">Service</option>
                                    <option value="Relation Problem">Relation Problem</option>
                                    <option value="Couple Counseling">Couple Counseling</option>
                                    <option value="Depression Treatment">Depression Treatment</option>
                                    <option value="Family Problem">Family Problem</option>
                                    <option value="Personal Problem">Personal Problem</option>
                                    <option value="Business Problem">Business Problem</option>
                                </select>

                                <textarea name="message" placeholder="Message" rows="5"></textarea>

                                <button class="bg-success text-white fo" type="submit">
                                    Send Message
                                </button>
                            </form>

                        <!-- <form action="#" method="POST">
                            <input type="text" name="name" placeholder="Your Name">
                            <input type="email" name="email" placeholder="Email" >
                            <select name="services" >
                                <option value="">Service</option>
                                <option value="Relation Problem">Relation Problem</option>
                                <option value="Couple Counseling">Couple Counseling</option>
                                <option value="Depression Treatment">Depression Treatment</option>
                                <option value="Family Problem">Family Problem</option>
                                <option value="Personal Problem">Personal Problem</option>
                                <option value="Business Problem">Business Problem</option>
                            </select>
                            <textarea name="message" placeholder="Message" rows="5"></textarea>
                            <button class="bg-success text-white fo" type="submit">Send Message</button>
                        </form> -->
                    </div>
                    <div class="col-7"></div>
                </div>
            </div>
        </div>
    </section>
    <!-- section-2 end -->
    </main>
    <!-- footer start -->
    <%- include('../partials/footer')%>