<%- include('../partials/header')%>
    <!-- banner start -->
    <main>
        <section class="banner-about position-relative d-flex align-items-end py-5">
                <div class="overlay-ab-pg-2 position-absolute top-0 start-0"></div>
                 <div class="container">
                    <div class="row">
                        <div class="col-12 d-flex justify-content-center">
                            <ul class="list-unstyled m-0 d-flex">
                                <li>
                                    <a href="../index.html" class="text-decoration-none text-black ">HOME <i class="fa-solid fa-chevron-right me-1" style="color: #000000;"></i></a>
                                </li>
                                <li class="text-black ">SERVICES<i class="fa-solid fa-chevron-right me-1" style="color: #000000;"></i></li>
                            </ul>
                        </div>
                        <div class="col-12 d-flex justify-content-center">
                            <h2 class="display-3 fw-semibold ">Services</h2>
                        </div>
                    </div>
                </div>
        </section>
    <!-- banner end -->
    <!-- section-1 start -->
    <section class="py-5">
        <div class="container py-5">
            <div class="row">
                <div class="col-12 d-flex justify-content-center">
                    <p class="fs-6  fw-semibold text-success letter-spacing">SERVICES</p>
                </div>
                <div class="col-12 d-flex justify-content-center">
                    <h2 class=" text-secondary fw-semibold h1">How It Works</h2>
                </div>
            </div>
            <div class="row pt-5 flex-wrap">
                <div class="col-4 col-12 col-md-4">
                    <div class="card border-0">
                        <div class="d-flex justify-content-center">
                            <div class="services-2 d-flex justify-content-center align-items-center position-relative">
                                <span class="span position-absolute top-0 start-100 translate-middle-tm badge rounded-circle bg p-2 fs-6">
                                    01
                                    <span class="visually-hidden">unread messages</span>
                                </span>
                                <div class="icon z-index">
                                    <img src="../images/schedule.png" alt="">
                                </div>
                                <div class="icon-2 position-absolute"></div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body text-center">
                        <h2 class=" text-secondary pt-3">Make Schedule</h2>
                        <p class=" text-secondary fs-5">A small river named Duden flows by their <br class="d-none d-xxl-block"> place and supplies it with the necessary <br class="d-none d-xxl-block"> regelialia.</p>
                    </div>
                </div>
                <div class="col-4 col-12 col-md-4">
                    <div class="card border-0">
                        <div class="d-flex justify-content-center">
                            <div class="services-2 d-flex justify-content-center align-items-center position-relative">
                                <span class="span position-absolute top-0 start-100 translate-middle-tm badge rounded-circle bg p-2 fs-6">
                                    02
                                    <span class="visually-hidden">unread messages</span>
                                </span>
                                <div class="icon z-index">
                                    <img src="../images/interview.png" alt="">
                                </div>
                                <div class="icon-2 position-absolute"></div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body text-center">
                        <h2 class=" text-secondary pt-3">Start Discussion</h2>
                        <p class=" text-secondary fs-5">A small river named Duden flows by their <br class="d-none d-xxl-block"> place and supplies it with the necessary <br class="d-none d-xxl-block"> regelialia.</p>
                    </div>
                </div>
                <div class="col-4 col-12 col-md-4">
                    <div class="card border-0">
                        <div class="d-flex justify-content-center">
                            <div class="services-2 d-flex justify-content-center align-items-center position-relative">
                                <span class="span position-absolute top-0 start-100 translate-middle-tm badge rounded-circle bg p-2 fs-6">
                                    03
                                    <span class="visually-hidden">unread messages</span>
                                </span>
                                <div class="icon z-index">
                                    <img src="../images/task.png" alt="">
                                </div>
                                <div class="icon-2 position-absolute"></div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body text-center">
                        <h2 class=" text-secondary pt-3">Enjoy Plan</h2>
                        <p class=" text-secondary fs-5">A small river named Duden flows by their <br class="d-none d-xxl-block"> place and supplies it with the necessary <br class="d-none d-xxl-block"> regelialia.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- section-1 end -->
    <!-- section-2 start -->
    <section class="about-s2 py-90">
        <div class="container">
            <div class="row">
                <div class="col-12 d-flex justify-content-center">
                    <p class="fs-6  fw-semibold text-success letter-spacing">Services</p>
                </div>
                <div class="col-12 d-flex justify-content-center">
                    <h2 class=" text-secondary fw-semibold display-5 fs-sm-30 fs-md-40 font-s-xs-20">We Can Help You With This Situation</h2>
                </div>
            </div>
        </div>
        <div class="container-fluid py-5">
            <div class="row">
                <div class="col-12 d-flex flex-wrap">
                    <div class="col-md-6 d-flex col-12 col-md-12 col-xl-6">
                        <div class="col-12 d-flex align-items-center see color-white-bg">
                            <div class="col-6 col-md-6 h-100">
                                <div class="card-services w-100 h-100">
                                    <div class="img-ser img-fluid img-ser-1 h-100">
                                        <img src="../images/services-1.jpg" alt="" style="width: 100%; height: 100%; object-fit: cover;">
                                    </div>
                                </div>
                            </div>
                            <div class="col-6 p-lg-5 ser-hover px-sm-4 py-sm-3 col-md-6 px-xl-4 py-xl-3 padding-5-xs">
                                <h2 class="mb-3 mb-lg-5 mb-xl-3 fs-xl-20 fs-xxl-28 mt-xxl-4 font-s-xs-20 font-s-sm-20 font-s-md-25">Relation Problem</h2>
                                <p class="mb-md-5 mb-sm-0 mb-xl-5 fs-xl-14 fs-xxl-20 mt-xxl-4 font-s-xs-15 margin-0-xs font-s-sm-12 fs-md-16">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 d-flex col-12 col-md-12 col-xl-6">
                        <div class="col-12 d-flex align-items-center see color-white-bg">
                            <div class="col-6 col-md-6 h-100">
                                <div class="card-services w-100 h-100">
                                    <div class="img-ser img-ser-2 h-100">
                                        <img src="../images/services-2.jpg" alt="" style="width: 100%; height: 100%; object-fit: cover;">
                                    </div>
                                </div>
                            </div>
                            <div class="col-6 p-lg-5 ser-hover px-sm-4 py-sm-3 col-md-6 px-xl-4 py-xl-3 padding-5-xs">
                                <h2 class="mb-3 mb-lg-5 mb-xl-3 fs-xl-20 fs-xxl-28 mt-xxl-4 font-s-xs-20 font-s-sm-20 font-s-md-25">Couples Counseling</h2>
                                <p class="mb-md-5 mb-sm-0 mb-xl-5 fs-xl-14 fs-xxl-20 mt-xxl-4 font-s-xs-15 margin-0-xs font-s-sm-12 fs-md-16">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 d-flex col-12 col-md-12 col-xl-6">
                        <div class="col-12 d-flex align-items-center see color-white-bg flex-md-row flex-row-reverse">
                            <div class="col-6 p-lg-5 ser-hover px-sm-4 py-sm-3 col-md-6 px-xl-4 py-xl-3 padding-5-xs">
                                <h2 class="mb-3 mb-lg-5 mb-xl-3 fs-xl-20 fs-xxl-28 mt-xxl-4 font-s-xs-20 font-s-sm-20 font-s-md-25">Depression Treatment</h2>
                                <p class="mb-md-5 mb-sm-0 mb-xl-5 fs-xl-14 fs-xxl-20 mt-xxl-4 font-s-xs-15 margin-0-xs font-s-sm-12 fs-md-16">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
                            </div>
                            <div class="col-6 col-md-6 h-100">
                                <div class="card-services w-100 h-100">
                                    <div class="img-ser img-ser-3 h-100">
                                        <img src="../images/services-3.jpg" alt="" style="width: 100%; height: 100%; object-fit: cover;">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 d-flex col-12 col-md-12 col-xl-6">
                        <div class="col-12 d-flex align-items-center see color-white-bg flex-md-row flex-row-reverse">
                            <div class="col-6 p-lg-5 ser-hover px-sm-4 py-sm-3 col-md-6 px-xl-4 py-xl-3 padding-5-xs">
                                <h2 class="mb-3 mb-lg-5 mb-xl-3 fs-xl-20 fs-xxl-28 mt-xxl-4 font-s-xs-20 font-s-sm-20 font-s-md-25">Family Problem</h2>
                                <p class="mb-md-5 mb-sm-0 mb-xl-5 fs-xl-14 fs-xxl-20 mt-xxl-4 font-s-xs-15 margin-0-xs font-s-sm-12 fs-md-16">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
                            </div>
                            <div class="col-6 h-100">
                                <div class="card-services w-100 h-100">
                                    <div class="img-ser img-ser-4 h-100">
                                        <img src="../images/services-4.jpg" alt="" style="width: 100%; height: 100%; object-fit: cover;">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 d-flex col-12 col-md-12 col-xl-6">
                        <div class="col-12 d-flex align-items-center see color-white-bg">
                            <div class="col-6 h-100">
                                <div class="card-services w-100 h-100">
                                    <div class="img-ser img-ser-5 h-100">
                                        <img src="../images/services-5.jpg" alt="" style="width: 100%; height: 100%; object-fit: cover;">
                                    </div>
                                </div>
                            </div>
                            <div class="col-6 p-lg-5 ser-hover px-sm-4 py-sm-3 col-md-6 px-xl-4 py-xl-3 padding-5-xs">
                                <h2 class="mb-3 mb-lg-5 mb-xl-3 fs-xl-20 fs-xxl-28 mt-xxl-4 font-s-xs-20 font-s-sm-20 font-s-md-25">Personal Problem</h2>
                                <p class="mb-md-5 mb-sm-0 mb-xl-5 fs-xl-14 fs-xxl-20 mt-xxl-4 font-s-xs-15 margin-0-xs font-s-sm-12 fs-md-16">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 d-flex col-12 col-md-12 col-xl-6">
                        <div class="col-12 d-flex align-items-center see color-white-bg">
                            <div class="col-6 h-100">
                                <div class="card-services w-100 h-100">
                                    <div class="img-ser img-ser-6 h-100">
                                        <img src="../images/services-6.jpg" alt="" style="width: 100%; height: 100%; object-fit: cover;">
                                    </div>
                                </div>
                            </div>
                            <div class="col-6 p-lg-5 ser-hover px-sm-4 py-sm-3 col-md-6 px-xl-4 py-xl-3 padding-5-xs">
                                <h2 class="mb-3 mb-lg-5 mb-xl-3 fs-xl-20 fs-xxl-28 mt-xxl-4 font-s-xs-20 font-s-sm-20 font-s-md-25">Business Problem</h2>
                                <p class="mb-md-5 mb-sm-0 mb-xl-5 fs-xl-14 fs-xxl-20 mt-xxl-4 font-s-xs-15 margin-0-xs font-s-sm-12 fs-md-16">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- section-2 end -->
    </main>
<!-- footer start -->
    <%- include('../partials/footer')%>